<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('common') %>
    <title>Main</title>
    <script>
      $(document).ready(() => {
        console.log('enter main page.');
      });

      function logout() {
        // storage clear
        // location.href = '/login';
      }
    </script>
  </head>
  <body></body>
</html>
