<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('common') %>
    <title>Login</title>

    <meta
      name="google-signin-client_id"
      content="727183764673-adrqnjvlosaistplqq6l5r50bq6tj5pc.apps.googleusercontent.com"
    />
    <script>
      function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());

        console.log(googleUser);
        console.log(googleUser.getAuthResponse().id_token);
        token = googleUser.getAuthResponse().id_token;
        $.ajax({
          type: 'POST',
          url: `/token`,
          data: {
            token,
          },
          success: (res) => {
            console.log(res.data.email);
            if (res.data.email === 'exist') alert('already create user. hi');
            else alert('create user');
          },
          error: (err) => {
            alert(err.responseJSON.errorMessage);
          },
        });
      }

      function onFailure(error) {
        console.log(error);
      }

      function renderButton() {
        gapi.signin2.render('my-signin2', {
          scope: 'profile email',
          width: 240,
          height: 50,
          longtitle: true,
          theme: 'dark',
          onsuccess: onSuccess,
          onfailure: onFailure,
        });
      }

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>

    <script
      src="https://apis.google.com/js/platform.js?onload=renderButton"
      async
      defer
    ></script>
  </head>
  <body>
    <div id="my-signin2"></div>
    <a href="#" onclick="signOut()">Sign out</a>
  </body>
</html>
